.body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
}

/* Style for the Header */
#header {
        
        border-bottom: solid 1px gray;
        border-top: solid 0px gray;
        height: 80px;
        
       
    
}
    /* Adding customization of the Nav Nar */
    #header .nav {
        text-align: right;
        padding-left: 30px;
        padding-right: 30px; 
        padding-top: 20px;
        text-decoration: none;
        
        
    }
    /*Style for the menu */
   #header .nav li {
        float: right;  
        text-align: right;
    }

    #header .name {
        
        float: left;  
        text-align: left;
        font-size: 50px;
        padding-left: 50px;
        padding-right: 50px; 
        text-align: left;
        background-color: aquamarine;
        text-align: left;
        text-decoration: none;
       
    }
  

    /*Adding Style for the section */
    #section {
        padding-top: 10px;
        padding-bottom: 50px;
        border-bottom: solid 10px green;
        color: rgb(11, 112, 42);
        font-size: 18px;
        
    }
        #section .article  {
            color: black;
           
        }

/* Style for Footer  */
#footer  {

    color: white;
    text-align: center;
    background-color: #777;
    padding-top: 10px;

}

hr { 
    border: 0; 
    height: 1px; 
    background: #333; 
    background-image: linear-gradient(to right, #ccc, #333, #ccc); 
}




